body {
  /*padding: 50px;*/
  background-color: #eeeeee;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.login-body{
  background-color: #00B7FF;
}
a {
  color: #00B7FF;
}

.login-content-wrapper{
  width: 400px;height: 420px;
  padding: 20px 30px;
  margin: 150px auto;
  background-color: white;
}
.margin-top-20{
  margin-top: 30px;
}
.container{
  height: 80vh;
}
.scroll-screen{
  background-color: #cccccc;
  height: 80vh;
  overflow: hidden;
  position: relative;
}
.msg-panel{
  height: 80vh;
  background-color: #e9e9e9;
  position: relative;
}
.send-msg{
  width: 100%;
  height: 50px;
  background-color: white;
  position: absolute;
  bottom: 0;
  padding: 10px;
  z-index: 999;
}
.send-msg-input{
  width: 80%;
  display: inline-block;
}
.send-msg-button{
  width: 15%;
  margin-left: 5%;
  display: inline-block;
}
.send-msg-img{
  height: 20px;
  width: 20px;
  display: block;
  margin: 0 auto;
}
.panel-caption{
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #122b40;
  background-color: white;
}
#scroll-text{
  /*background-color: #01cbff;*/
  padding: 15px;
  font-size: 12px;
  line-height: 25px;
  /*overflow: scroll;*/
  overflow-x: hidden;
  overflow-y: scroll;
}
#scroll-text::-webkit-scrollbar {display:none}

.barrage-item{
}
.someone-enter-item{
  width: 100%;
  background-color: rgba(57, 57, 57, 0.5);
  padding: 8px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
  margin-bottom: 10px;
}
.barrage{
  position: absolute!important;
}

@media screen and (max-width: 991px) {
  .scroll-screen{
    height: 40vh;
  }
  .msg-panel{
    height: 60vh;
  }
  .send-msg{
    height: 75px;
  }
  .container{
    width: 100%;
    padding:0;
  }
  .navbar{
    margin: 0;
  }
  .myCol{
    padding: 0;
  }
  .myRow{
    margin: 0;
  }
  .send-msg-input{
    height: 100%;
  }
  .send-msg-button{
    height: 100%;
  }

  .send-msg-img{
    height: 30px;
    width: 30px;
    margin-top: 5px ;
  }
}
.video-wrapper{
  position: relative;
  height: 100%;
}
.myVideo{
  width: 100%;
  height: 100%;

  position: absolute;
  /*z-index: -999;*/
}
@media screen and (max-width: 440px){

  .send-msg-img{
    height: 20px;
    width: 20px;
    margin-top: 10px ;
  }
}
