doctype html
html
  head
    title socket
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/socket.io/socket.io.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content="yes" name="apple-mobile-web-app-capable")
    meta(name="viewport" content="width=device-width,height=device-height,inital-scale=1.0,maximum-scale=1.0,user-scalable=no;")
    link(rel="stylesheet" type="text/css" href="/dist/css/barrager.css")
    script(type="text/javascript" src="/dist/js/jquery.barrager.min.js")
    script(src='/js/home.js')
    link(href = "https://vjs.zencdn.net/7.4.1/video-js.css" rel = "stylesheet")
    script(src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js")
  body
    block head
    block content
      block scrollScreen
    //block msgPanel
